* {
  font-family: "neulis-sans", sans-serif;
  font-weight: 400;
  font-style: normal;

}

main {
  flex: 1;
  min-height: 100vh;
}


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: whitesmoke;
  overflow-y: auto;
  min-height: 100vh;
}



.gif { 
  background-size: cover;
  background-position: center;
  height: 90vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;

}

.map { 
  background-size: cover;
  background-position: center;
  height: 90vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;


}

.content {
  padding-top: 15vh;

}

.content2 {
  position: relative;
  padding-bottom: 90vh;
}

li {
  list-style: none;
}

a.nav1 {

text-decoration: none;
color:whitesmoke;
font-size: 1rem
}

a.nav2 {

  text-decoration: none;
  color:black;
  font-size: 1rem
  }

a:hover {
color:rgb(15, 128, 0);
}

.active {
  text-decoration: underline;
}



/* HEADER */

.header {
  top: 10%;
  left: 3%;
  margin-bottom: 100px;
  z-index: 100;
  position: relative;
 
}


.navbar{

  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  position: relative;
}

.navbar .links {

display: flex;
gap: 2rem;

}

.imglogo {
  width: 50px;
  height: 50px;
 }

.logo a {
display: flex;
font-family: "neulis-sans", sans-serif;
font-weight: 700;
font-style: normal;
font-size: 20px;
}

.header2 h1 {
  font-family: "neulis-sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 100px;
  color: black;
  
  /* Positie*/

  text-align:center;

}
.header h1 {
  
  font-family: "neulis-sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 100px;
  color: whitesmoke;
  
  /* Positie*/

  padding-left: 300px;
  padding-top:100px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.header p {
  font-family: "neulis-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: whitesmoke;

 /* Positie*/

padding-left: 300px;
padding-top: 1px;


}


.kaart {
 display: flex;
 justify-content: center;
}






section.cards {
  margin-top: 500px;
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
}


figure {
  height: 250px;
  width: 400px;
}

.vulkaan {
  max-width: 100%; 
  overflow: hidden; 
  border-radius: 14px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.vulkaan img {
  width: 100%; 
  max-width: 100%; 
  height: 22vh; 
  display: block;
  border-radius: 14px;
}

.vulkaan:hover {
  transform: scale(1.1);
  border-radius: 14px; 
  transition: ease 250ms;
}

figcaption {
  padding: 10px;
  line-height: 1.5;
  
  bottom: 0;
  right: 0;
  text-align: left;
  opacity: 0.7;
}

.Selectie1 {
  display: flex;
  align-items: center; 
  margin-bottom: 100px;
}

.Selectie1 .Afbeelding {
  
  width: 500px; 
  height: auto; 
  margin-left: 200px;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.Selectie1 p {
  margin-left: 200px;
  margin-right: 200px;
}


.Selectie2 {
  display: flex;
  align-items: center; 
  margin-bottom: 100px;
}

.Selectie2 .Afbeelding {
  width: 500px; 
  height: auto;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.Selectie2 p {
  margin-left: 200px;
  margin-right: 200px;
}

.figuur img {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* footer */



.grootfooter {
  font-family: "neulis-sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  color: rgb(189, 189, 189);
  margin-bottom: 0px;
}


footer a {
text-decoration: none;
color:rgb(189, 189, 189);
font-size: 1rem;
}

.footer {
  display: flex;
  justify-content: space-around;
  background-color:rgb(151, 151, 151);
padding-bottom: 10vh;
padding-top: 10vh;
}

footer i {
font-size: 40px;
color: rgb(189, 189, 189);
}

.icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.icons i:hover {
  color:rgb(15, 128, 0);
}

.about {
  background-color: black;
  z-index: -1;
}

.naam {
  color: whitesmoke;
  font-family: "neulis-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 50px;
  /* margin-left: 40vh;
  margin-top: 15vh; */
}

.block {
  width: 30px;
  height: 30px;
  background-color: whitesmoke;

}


.puntje {
  display: flex;
  margin-left: 20vh;
  margin-top: 10vh;
  align-items: Baseline;
}

.header3 {
  display: flex;
  align-items: baseline;
  gap: 10vh;
  justify-content: center;
}


details {

padding: 10px;
background: rgba(255, 255, 255, 0.58);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.48);
width: 200px;
color: rgb(0, 0, 0);
border-radius: 14px;
position: absolute;
list-style: none;
}

details:hover {
  cursor: grab;
}

.Reykjavik {
  margin-left: 40vh;
  margin-top: 50vh;
}

.Akureyri {
margin-top: 10vh;
margin-left: 50vw;
}

.Ísafjörður {
  margin-left: 30vh;
}

details:hover {
  transform: scale(1.1);
  transition: ease 250ms;
}

.listfooter {
  padding-left: 0px;
}

.tekst h2 {
  font-family: "neulis-sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  color: Whitesmoke;
margin-left: 1vh;
padding-bottom: 0vh;
}

.tekst p {
  font-family: "neulis-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: Whitesmoke;
  width: 50vh;
  margin-left: 1vh;

}

.content3 {
  display: flex;
  flex-wrap: wrap;
}

.footer2 {
  background-color: rgb(0, 0, 0);
  padding-bottom: 10vh;
  padding-top: 10vh;
}

.footer2 a {
  text-decoration: none;
  color:rgb(189, 189, 189);
  font-size: 1rem;
  }

  .footer2 {
    display: flex;
    justify-content: space-around;
  }

  details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }


  footer i:hover {
    color:rgb(255, 255, 255);
  }

  footer a:hover {
    color:rgb(255, 255, 255);
  }


.lijntje {
  background-color: black;
  width: 0.1vw;
  height: 5vh;
  margin-left: 27vw;
  margin-top: 2

}